body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background: #f9f9f9;
    color: #222;
}

header {
    background-color: #0c1b33;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    margin: 0;
}

header p {
    margin-top: 5px;
    font-size: 16px;
    color: #ccc;
    font-style: italic;
}

nav {
    background-color: #13294b;
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.main-container {
    max-width: 1300px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 5px;
    padding: 0 10px;
}

.main-news {
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
    font-family: sans-serif;

}

.main-news img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.main-news h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.main-news p {
    color: #444;
}

.sidebar {
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.sidebar h3 {
    border-bottom: 2px solid #13294b;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #13294b;
    font-weight: 600;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #0c1b33;
    color: #ccc;
    font-size: 14px;
    margin-top: 40px;
}

.boldonse-regular {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

  
  .alegreya-sc-bold {
    font-family: "Alegreya SC", serif;
    font-weight: 700;
    font-style: normal;
  }
  